In [1]:
person = {'name': 'John', 'age': 25, 'gender': 'man'}

In [2]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])
p = Point(123, y=987)
print(p)

r = p[0] + p[1]
print(r)

x, y = p
print(x, y)

z = p
print(z)

Point(x=123, y=987)
1110
123 987
Point(x=123, y=987)

In [5]:
p

123

In [6]:
p.x

123

In [7]:
p[0]

123

In [8]:
type(p)

__main__.Point

In [11]:

from collections import deque

d = deque('hellow world!')
print(d)

r = d.pop()
print(r, d)

r = d.popleft()   # List.pop(0, A) 와 동일하나 O(1) 보장
print(r, d)

d.append('A')
print(d)

d.appendleft('B') # List.insert(0, A) 와 동일하나 O(1) 보장
print(d)
print(type(d))

deque(['h', 'e', 'l', 'l', 'o', 'w', ' ', 'w', 'o', 'r', 'l', 'd', '!'])
! deque(['h', 'e', 'l', 'l', 'o', 'w', ' ', 'w', 'o', 'r', 'l', 'd'])
h deque(['e', 'l', 'l', 'o', 'w', ' ', 'w', 'o', 'r', 'l', 'd'])
deque(['e', 'l', 'l', 'o', 'w', ' ', 'w', 'o', 'r', 'l', 'd', 'A'])
deque(['B', 'e', 'l', 'l', 'o', 'w', ' ', 'w', 'o', 'r', 'l', 'd', 'A'])
<class 'collections.deque'>

In [12]:
(lambda x:x*1)(1)

1

In [17]:
from collections import defaultdict

d = defaultdict((lambda x:x*1)(1))  # int function 반환값은 0
d['banana'] += 1
d['apple'] += 1
d['apple'] += 1
d['kiwi'] += 1
d['banana'] += 1

print(d)

TypeError: first argument must be callable or None

In [18]:
d['banana']

2

In [19]:
(lambda x:x*1)(1)

1

In [8]:
count = int(input())

4

In [9]:
input_list = []
count = 0
for i in range(count):
    data = input()
    input_list.append(data)
    if data in inpust_list:
        count+=1
    print(input_list.count(data))
    
print(count)

0

# String Formatting

In [1]:
n = 17
a = format(17, 'b')
max_len = (len(a))
for i in range(1, n+1):
    o = format(i, 'o')  #8
    h = format(i, 'x')  #16
    b = format(i, 'b')  #2
    print(str(i).rjust(max_len), end=' ')
    print(o.rjust(max_len), end=' ')
    print(h.rjust(max_len).upper(), end=' ')
    print(b.rjust(max_len), end='\n')

    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001