백준 알고리즘

# 사칙연산

- 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
- 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
- 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

In [7]:
A, B = map(int, input().split())

print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

7 3

# 나머지
(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)

첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [30]:
# 풀이
A, B, C = map(int, input().split())

print((A+B)%C)

print(((A%C) + (B%C))%C)

print((A*B)%C)

print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

# 곱셈
(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

In [88]:
# 풀이
a= input()
b= input()

for i in reversed(range(len(b))): 
    print(int(a)*int(b[i]))

print(int(a)*int(b))

472
385

# 조건문

알람시계 
상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

바로 "45분 일찍 알람 설정하기"이다.

첫째 줄에 두 정수 H와 M이 주어진다. (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 그리고 이것은 현재 상근이가 설정한 놓은 알람 시간 H시 M분을 의미한다.

입력 시간은 24시간 표현을 사용한다. 24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 시간을 나타낼 때, 불필요한 0은 사용하지 않는다.

첫째 줄에 상근이가 창영이의 방법을 사용할 때, 설정해야 하는 알람 시간을 출력한다. (입력과 같은 형태로 출력하면 된다.)

In [110]:
a, b = map(int, input().split())

if b >=45:
    b -=45
else:
    if a<=0:
        a=24
    a -=1
    b +=60
    b -= 45

print(a, b)

0 30
23 45

# A+B - 4

- 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
- 입력은 여러 개의 테스트 케이스로 이루어져 있다.
- 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)
- 각 테스트 케이스마다 A+B를 출력한다.

In [247]:
data =[]

In [257]:
for i in range(2):
    a, b = map(int, input().split())
    print(a+b)
    data.append(a+b)

"""

for <변수> in 반복 가능한 개체 (list, tuple, dict, str):
    -----
"""
for index in data:
    print(index)

11 11
22
2 1
3
2
4
22
3

In [ ]:
start_data = input()
count = 0
answer = start_data

while True:
    """
    1. 기존의 값 더하기
    2. 기존의 값 끝자리와 더한값의 끝자리를 조합하여 새로운 '숫자'를 조합하기
    3. 새로운 숫자를 만들게 될 때 count 추가
    4. 새로운 숫자가 처음의 값과 같다면 멈추기!
    """

# 더하기 사이클 분류
0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다

In [5]:
data = input()
count = 0
while True:
    if count==0:
        answer = data
    if int(data)<10:
        data = str(0)+data[-1]
    sum_data = int(data[0])+int(data[1])
    data = data[1]+str(sum_data)[-1]
    count+=1
    if int(data) == int(answer):
        break
    data=str(data)
print(count)

1
60

In [ ]:
start_data = input()
count = 0
answer = start_data
while True:
    """
    1. 기존의 값 더하기
    2. 기존의 값 끝자리와 더한값의 끝자리를 조합하여 새로운 '숫자'를 조합하기
    3. 새로운 숫자를 만들게 될 때 count 추가
    4. 새로운 숫자가 처음의 값과 같다면 멈추기!
    """

In [9]:
data = input()
if len(data)==1:
    data = "0"+data
count = 0
answer = data
while True:
    sum_data = int(data[0])+int(data[1])
    new_data = data[-1]+str(sum_data)[-1]
    count+=1
    data= new_data
    if data==answer:
        print(count)
        break

1
60

In [239]:
new_data

'68'

# 상근날드
1. 상근날드에서 가장 잘 팔리는 메뉴는 세트 메뉴이다. 주문할 때, 자신이 원하는 햄버거와 음료를 하나씩 골라, 세트로 구매하면, 가격의 합계에서 50원을 뺀 가격이 세트 메뉴의 가격이 된다.

2. 햄버거는 총 3종류 상덕버거, 중덕버거, 하덕버거가 있고, 음료는 콜라와 사이다 두 종류가 있다.

3. 햄버거와 음료의 가격이 주어졌을 때, 가장 싼 세트 메뉴의 가격을 출력하는 프로그램을 작성하시오.

- 입력은 총 다섯 줄이다. 첫째 줄에는 상덕버거, 둘째 줄에는 중덕버거, 셋째 줄에는 하덕버거의 가격이 주어진다. 넷째 줄에는 콜라의 가격, 다섯째 줄에는 사이다의 가격이 주어진다. 모든 가격은 100원 이상, 2000원 이하이다.
- 첫째 줄에 가장 싼 세트 메뉴의 가격을 출력한다.

In [64]:
count = 0
burger_list = []
juice_list = []
while True:
    data = int(input())
    if data>=100 and data<=2000:
        if count<3:
            burger_list.append(data)
        else:
            juice_list.append(data)
        order_list.append(data)
        count +=1
    else:
        print('값이 올바르지 않습니다.')
    if count == 5:
        break

# cheap_burger = 2000

# for i in order_list[:3]:
#     if cheap_burger >= i:
#         cheap_burger = i

# cheap_juice = 2000
# for i in order_list[3:]:
#     if cheap_juice >= i:
#         cheap_juice = i
burger_list.sort()
juice_list.sort()

print(cheap_burger+cheap_juice-50)

100
200
300
40
값이 올바르지 않습니다.
400
500
[100, 200, 300]
[400, 500]
881

In [66]:
count = 0
burger_list = []
juice_list = []
while True:
    data = int(input())
    if data>=100 and data<=2000:
        if count<3:
            burger_list.append(data)
        else:
            juice_list.append(data)
        order_list.append(data)
        count +=1
    else:
        print('값이 올바르지 않습니다.')
    if count == 5:
        break

burger_list.sort()
juice_list.sort()

print('정답',burger_list[0]+juice_list[0]-50)

700
800
900
100
200
정답 750

In [78]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\ ')
print('|"^"`    |')
print('||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

# 세 수

- 세 정수 A, B, C가 주어진다. 이때, 두 번째로 큰 정수를 출력하는 프로그램을 작성하시오. 

- 첫째 줄에 세 정수 A, B, C가 공백으로 구분되어 주어진다. (1 ≤ A, B, C ≤ 100)

In [84]:
a, b, c = map(int, input().split())

second_data =[]

second_data.append(a)

second_data.append(b)

second_data.append(c)

second_data.sort()

print(second_data[1])

20 30 10

In [96]:
a= list(map(int, input().split()))
a.sort()
print(a[1])

10 20 03
10

# 최소 최대

- N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

- 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.
- 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

In [2]:
count = int(input())
while True:
    data = list(map(int, input().split()))
    if len(data)==count:
        data.sort()
        print(data[0], data[-1])
        break
    else:
        print('올바른 수의 값이 아닙니다.')

5
1 2 3 4 5
1 5

# 별 찍기

- 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

- 첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [47]:
# count = int(input())

# for i in range(count):
#     for _ in range(i+1):
#         print('*',end='')
#     print('')

# for i in reversed(range(2)):
#     for _ in range(i+1):
#         print('*',end='')
#     print('')

# count = int(input())
# for i in range(count):
#     print('*'*(i+1))
# for i in reversed(range(count-1)):
#     print('*'*(i+1))
    
count = int(input())
for i in range(1, count*2):
    print(i)
    if i<=2:
        print('*'*i)
    else:
        print('*'*(2*count-i))

3
1
*
2
**
3
***
4
**
5
*

# 별찍기 - 2

```
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********
```
- 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
- 첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.
9
7
5
3
1
3
5
7
9

In [5]:
count = int(input())
limit = count*2-1
test =0
for index in range(0, count):
    if index <count:
        print(' '*index+'*'*(limit-index*2))
for i in reversed(range(0, count)):
    if i ==(count-1):
        continue
    print(' '*i+'*'*(limit-i*2))
    test+=1

10
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

# 별 찍기 - 21

In [6]:
count = int(input())

for i in range(count):
    for j in range(count):
        if j%2==0:
            print('*', end='')
        else:
            print(" ", end='')
    print('')
    for j in range(count):
        if j%2==0:
            print(' ', end='')
        else:
            print("*", end='')

    print('')

4
* *
 * *
* *
 * *
* *
 * *
* *
 * *

# OX퀴즈

"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

- 입력 :첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.

In [ ]:
counts = int(input())

for index in range(counts):
    result = 0
    value = input()
    index = 0
    for i in value:
        if i =='O':
            index+=1
            result+=index
        else:
            index = 0
    print(result)

In [2]:
start_data = input()
count = 0
answer = start_data  # 숫자가 같은 경우마지막 확인하기 위해 
while True:
    if int(start_data) < 10:
        start_data = str(0) + start_data[-1]
    hab1 = int(start_data[0]) + int(start_data[1])
    new_num1 = start_data[1] + str(hab1)[-1]
    count += 1
    if int(new_num1) ==int(answer): 
        break
    else:
        start_data = new_num1
print(count)

1
60

# 정수 N개의 합

- 정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.

In [6]:
def solve(a):
    ans = 0
    a = a.split()
    for i in a:
        ans+=int(i)
    return ans

In [7]:
result = solve('1 2 3 4 5 6')

In [8]:
result

21

In [195]:
test_list = []
count = 0

In [188]:
while True:
    data1, data2 = map(int, input().split())
    if 0 > data1 and data2 > 10:
        print('something wrong')
    else:
        sum_data = data1+data2
        test_list.append(sum_data)
        count+=1
        if count==5:
            break

for i in test_list:
    print(i)

1 1
2 3
4 5
6 4
2 1
2
5
9
10
3

In [196]:
while True:
    A, B = map(int, input().split())
    print(A+B)
    count +=1
    if count ==5:
        breakdms
    
    print(count)

1 1
2
1
2 3
5
2
4 5
9
3
9 6
15
4
5 2
7

# 셀프 넘버

셀프 넘버는 1949년 인도 수학자 D.R. Kaprekar가 이름 붙였다. 양의 정수 n에 대해서 d(n)을 n과 n의 각 자리수를 더하는 함수라고 정의하자. 예를 들어, d(75) = 75+7+5 = 87이다.

양의 정수 n이 주어졌을 때, 이 수를 시작해서 n, d(n), d(d(n)), d(d(d(n))), ...과 같은 무한 수열을 만들 수 있다. 

예를 들어, 33으로 시작한다면 다음 수는 33 + 3 + 3 = 39이고, 그 다음 수는 39 + 3 + 9 = 51, 다음 수는 51 + 5 + 1 = 57이다. 이런식으로 다음과 같은 수열을 만들 수 있다.

33, 39, 51, 57, 69, 84, 96, 111, 114, 120, 123, 129, 141, ...

n을 d(n)의 생성자라고 한다. 위의 수열에서 33은 39의 생성자이고, 39는 51의 생성자, 51은 57의 생성자이다. 생성자가 한 개보다 많은 경우도 있다. 예를 들어, 101은 생성자가 2개(91과 100) 있다. 

생성자가 없는 숫자를 셀프 넘버라고 한다. 100보다 작은 셀프 넘버는 총 13개가 있다. 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97

10000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [45]:
number_list = []
copy_list = []
for i in range(1,10001):
    number_list.append(i)
    copy_list.append(i)
    
for i in number_list:
    j = str(i)
    iterble_sum = 0
    iterble_sum +=i
    for number in j:
        iterble_sum+=int(number)
    try:
        if number_list.count(iterble_sum):
            copy_list.remove(iterble_sum)
    except ValueError:
        pass
for i in copy_list:
    print(i)

1
3
5
7
9
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

# 한수

 - 어떤 양의 정수 X의 각 자리가 등차수열을 이룬다면, 그 수를 한수라고 한다. 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다. N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오.
 - 첫째 줄에 1,000보다 작거나 같은 자연수 N이 주어진다.

 - 첫째 줄에 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력한다.

In [ ]:
def hansoo(limit):
    result = 0
    for i in range(1, limit+1):
        if i <100:
            result +=1
        else:
            data = list(map(int, str(i)))
            if data[0]-data[1] == data[1]-data[2]:
                result+=1
    return result

limit = int(input())
data = hansoo(limit)
print(data)

In [125]:
print(result)

144

# 나머지

- 두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

- 수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

- 첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다. 이 숫자는 1,000보다 작거나 같고, 음이 아닌 정수이다
- 첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.

In [143]:
def division_length_data(count):
    data = []
    for i in range(count):
        input_data = int(input())
        data.append(input_data%42)
    return len(set(data))

print(division_length_data(10))

# 아스키 코드
- 알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

- 알파벳 소문자, 대문자, 숫자 0-9 중 하나가 첫째 줄에 주어진다.
- 입력으로 주어진 글자의 아스키 코드 값을 출력한다.

In [155]:
data = input()

print(ord(data))

9

# 숫자의 합
- N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

- 첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.
- 입력으로 주어진 숫자 N개의 합을 출력한다.

In [169]:
count = input()
data = input()
result = 0

for i in data:
    result+=int(i)

print(result)

25
7000000000000000000000000
7

# 알파벳 찾기

- 알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.
- 첫째 줄에 단어 S가 주어진다. 단어의 길이는 100을 넘지 않으며, 알파벳 소문자로만 이루어져 있다.


- 각각의 알파벳에 대해서, a가 처음 등장하는 위치, b가 처음 등장하는 위치, ... z가 처음 등장하는 위치를 공백으로 구분해서 출력한다.

- 만약, 어떤 알파벳이 단어에 포함되어 있지 않다면 -1을 출력한다. 단어의 첫 번째 글자는 0번째 위치이고, 두 번째 글자는 1번째 위치이다.

In [170]:
print(*map(input().find,map(chr,range(97,123))),sep=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [171]:
data = input()

baekjoon

In [172]:
data

'baekjoon'

In [ ]:
for i in range(97, 123):
    for i b

In [173]:
list(map(chr,range(97,123)))

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

# 문자열 반복

- 문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.

- QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

- 입력 : 첫째 줄에 테스트 케이스의 개수 T(1 ≤ T ≤ 1,000)가 주어진다. 각 테스트 케이스는 반복 횟수 R(1 ≤ R ≤ 8), 문자열 S가 공백으로 구분되어 주어진다. S의 길이는 적어도 1이며, 20글자를 넘지 않는다. 
- 출력 : 각 테스트 케이스에 대해 P를 출력한다.

In [11]:
count = int(input())
for i in range(count):
    cycle, code = map(str, input().split())
    for i in code:
        print(i*int(cycle), end='')
    print()

ValueError: invalid literal for int() with base 10: ''

# 단어 공부

- 알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.
- 입력: 첫째 줄에 알파벳 대소문자로 이루어진 단어가 주어진다. 주어지는 단어의 길이는 1,000,000을 넘지 않는다.

- 출력: 첫째 줄에 이 단어에서 가장 많이 사용된 알파벳을 대문자로 출력한다. 단, 가장 많이 사용된 알파벳이 여러 개 존재하는 경우에는 ?를 출력한다.

In [17]:
data = input()

Mississipi

In [18]:
data = data.upper()

In [42]:
test = []

In [44]:
for i in data:
    value = i, data.count(i)
    test.append(value)

In [46]:
max(test)

('S', 4)

# 단어의 개수

- 문제: 영어 대소문자와 띄어쓰기만으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오. 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.
- 입력 : 첫 줄에 영어 대소문자와 띄어쓰기로 이루어진 문자열이 주어진다. 이 문자열의 길이는 1,000,000을 넘지 않는다. 단어는 띄어쓰기 한 개로 구분되며, 공백이 연속해서 나오는 경우는 없다. 또한 문자열의 앞과 뒤에는 공백이 있을 수도 있다.
- 출력 :첫째 줄에 단어의 개수를 출력한다.

In [112]:
from collections import defaultdict

data = input().split()

test = defaultdict(int)

for index in data:
    test[index] +=1

print(len(test))

"""
아무리 봐도 이게 맞는데 통과한 답은
n = input().split()
print(len(n))
"""

0

'\n아무리 봐도 이게 맞는데 통과한 답은\nn = input().split()\nprint(len(n\n))\n'

# 상수
- 상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

- 상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

- 두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

- 입력 : 첫째 줄에 상근이가 칠판에 적은 두 수 A와 B가 주어진다. 두 수는 같지 않은 세 자리 수이며, 0이 포함되어 있지 않다.

- 출력 : 첫째 줄에 상수의 대답을 출력한다.

In [166]:
data = list(map(int, input().split()))
for index, value in enumerate(data):
    data[index] = str(value)[::-1]
print(max(data))

734 893
398

# 다이얼
- 상근이의 할머니는 아래 그림과 같이 오래된 다이얼 전화기를 사용한다.

- 전화를 걸고 싶은 번호가 있다면, 숫자를 하나를 누른 다음에 금속 핀이 있는 곳 까지 시계방향으로 돌려야 한다. 숫자를 하나 누르면 다이얼이 처음 위치로 돌아가고, 다음 숫자를 누르려면 다이얼을 처음 위치에서 다시 돌려야 한다.

- 숫자 1을 걸려면 총 2초가 필요하다. 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.

- 상근이의 할머니는 전화 번호를 각 숫자에 해당하는 문자로 외운다. 즉, 어떤 단어를 걸 때, 각 알파벳에 해당하는 숫자를 걸면 된다. 예를 들어, UNUCIC는 868242와 같다.

- 할머니가 외운 단어가 주어졌을 때, 이 전화를 걸기 위해서 필요한 시간을 구하는 프로그램을 작성하시오.

- 첫째 줄에 알파벳 대문자로 이루어진 단어가 주어진다. 단어는 2글자~15글자로 이루어져 있다.

- 첫째 줄에 다이얼을 걸기 위해서 필요한 시간을 출력한다.

In [ ]:
a = int(input())
numlist = list(map(int, input().split()))
numlow = (sorted(numlist)[0])
numhight = (sorted(numlist)[-1])
goodlist =[]
for i in range(a):
    if numlist[i] == numlow:
        goodlist.append(numlow)
    if numlist[i] == numhight:
        goodlist.append(numhight)
print(sorted(goodlist)[0], sorted(goodlist)[-1])

In [182]:
count = int(input())
number_list = list(map(int, input().split()))
print(sorted(number_list)[0], sorted(number_list)[-1])

5
20 10 35 30 7
7 35

# 그룹 단어 체커 분류
- 문제 : 그룹 단어란 단어에 존재하는 모든 문자에 대해서, 각 문자가 연속해서 나타나는 경우만을 말한다. 예를 들면, ccazzzzbb는 c, a, z, b가 모두 연속해서 나타나고, kin도 k, i, n이 연속해서 나타나기 때문에 그룹 단어이지만, aabbbccb는 b가 떨어져서 나타나기 때문에 그룹 단어가 아니다.

- 단어 N개를 입력으로 받아 그룹 단어의 개수를 출력하는 프로그램을 작성하시오.
- 입력 : 첫째 줄에 단어의 개수 N이 들어온다. N은 100보다 작거나 같은 자연수이다. 둘째 줄부터 N개의 줄에 단어가 들어온다. 단어는 알파벳 소문자로만 되어있고 중복되지 않으며, 길이는 최대 100이다.
- 출력 : 첫째 줄에 그룹 단어의 개수를 출력한다.

In [33]:
n = 1
answer = 0
for index in range(n):
    string = list(input())
    for data in string:
        prev = string.pop(0)
        if prev in string:
            if prev == string[index+1]:
                pass
            else:
                print('그룹단어가 아님')
                pass
        else:
            answer+=1
            break

happy
['h', 'a', 'p', 'p', 'y']
h
['a', 'p', 'p', 'y']

In [34]:
answer

1

In [35]:
answer=0

# 크로아티아 알파벳

- 예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.
- 예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

- dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.
- 입력 : 첫째 줄에 최대 100글자의 단어가 주어진다. 알파벳 소문자와 '-', '='로만 이루어져 있다.

- 입력: 단어는 크로아티아 알파벳으로 이루어져 있다. 문제 설명의 표에 나와있는 알파벳은 변경된 형태로 입력된다.
- 출력 : 입력으로 주어진 단어가 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

In [72]:
from collections import Counter

In [91]:
alpha = ['c=', 'c-', 'dz=', 'd-','lj', 'nj', 's=', 'z=']

In [93]:
word = input()

ddz=z=

In [94]:
for text in alpha:
    if text in word:
        word.replace(text, '*')

In [95]:
word

'ddz=z='

# 단어 공부
- 문제: 알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.

- 첫째 줄에 알파벳 대소문자로 이루어진 단어가 주어진다. 주어지는 단어의 길이는 1,000,000을 넘지 않는다.

- 첫째 줄에 이 단어에서 가장 많이 사용된 알파벳을 대문자로 출력한다. 단, 가장 많이 사용된 알파벳이 여러 개 존재하는 경우에는 ?를 출력한다.

In [ ]:
from collections import defaultdict

test_dic = defaultdict(int)
input_data = input()

input_data = input_data.upper()

for i in input_data:
    test_dic[i]+=1

max_value = max(test_dic.values())

result_list = {}

for k, v in test_dic.items():
    if v >=max_value:
        max_value = v 
        result_list[k]=v

if len(result_list) >=2:
    print('?')
else:
    [print(key) for key in result_list.keys()]

# 스택

- 정수를 저장하는 스택을 구현한 다음, 입력으로 주어지는 명령을 처리하는 프로그램을 작성하시오.

- 명령은 총 다섯 가지이다.

- push X: 정수 X를 스택에 넣는 연산이다.
- pop: 스택에서 가장 위에 있는 정수를 빼고, 그 수를 출력한다. 만약 스택에 들어있는 정수가 없는 경우에는 -1을 출력한다.
- size: 스택에 들어있는 정수의 개수를 출력한다.
- empty: 스택이 비어있으면 1, 아니면 0을 출력한다.
- top: 스택의 가장 위에 있는 정수를 출력한다. 만약 스택에 들어있는 정수가 없는 경우에는 -1을 출력한다.

- 입력 : 첫째 줄에 주어지는 명령의 수 N (1 ≤ N ≤ 10,000)이 주어진다. 둘째 줄부터 N개의 줄에는 명령이 하나씩 주어진다. 주어지는 정수는 1보다 크거나 같고, 100,000보다 작거나 같다. 문제에 나와있지 않은 명령이 주어지는 경우는 없다.

- 출력: 출력해야하는 명령이 주어질 때마다, 한 줄에 하나씩 출력한다.

In [ ]:
import sys


count = int(sys.stdin.readline())

stack_list = []
for i in range(count):
    command = sys.stdin.readline()
    if 'push' in command:
        command, data = command.split()
        stack_list.append(data)
    if 'top' in command:
        if not stack_list:
            print(-1)
        else:
            print(int(stack_list[-1]))
    if 'size' in command:
        print(len(stack_list))
    if 'empty' in command:
        if not stack_list:
            print(1)
        else:
            print(0)
    if 'pop' in command:
        if stack_list:
            pop_data = stack_list.pop()
            print(int(pop_data))
        else:
            print(-1)

# 제로

- 나코더 기장 재민이는 동아리 회식을 준비하기 위해서 장부를 관리하는 중이다.

- 재현이는 재민이를 도와서 돈을 관리하는 중인데, 애석하게도 항상 정신없는 재현이는 돈을 실수로 잘못 부르는 사고를 치기 일쑤였다.

- 재현이는 잘못된 수를 부를 때마다 0을 외쳐서, 가장 최근에 재민이가 쓴 수를 지우게 시킨다.

- 재민이는 이렇게 모든 수를 받아 적은 후 그 수의 합을 알고 싶어 한다. 재민이를 도와주자!

- 첫 번째 줄에 정수 K가 주어진다. (1 ≤ K ≤ 100,000)

- 이후 K개의 줄에 정수가 1개씩 주어진다. 정수는 0에서 1,000,000 사이의 값을 가지며, 정수가 "0" 일 경우에는 가장 최근에 쓴 수를 지우고, 아닐 경우 해당 수를 쓴다.

- 정수가 "0"일 경우에 지울 수 있는 수가 있음을 보장할 수 있다.

- 재민이가 최종적으로 적어 낸 수의 합을 출력한다. 최종적으로 적어낸 수의 합은 231-1보다 작거나 같은 정수이다.

In [106]:
import sys
counts = int(sys.stdin.readline())

stack_list = []

for _ in range(counts):
    data = int(sys.stdin.readline())
    if data == 0:
        stack_list.pop(-1)
    else:
        stack_list.append(data)
    print(stack_list, '<<stack list')
print(sum(stack_list))

4

# 괄호
- 괄호 문자열(Parenthesis String, PS)은 두 개의 괄호 기호인 ‘(’ 와 ‘)’ 만으로 구성되어 있는 문자열이다. 그 중에서 괄호의 모양이 바르게 구성된 문자열을 올바른 괄호 문자열(Valid PS, VPS)이라고 부른다. 한 쌍의 괄호 기호로 된 “( )” 문자열은 기본 VPS 이라고 부른다. 만일 x 가 VPS 라면 이것을 하나의 괄호에 넣은 새로운 문자열 “(x)”도 VPS 가 된다. 그리고 두 VPS x 와 y를 접합(concatenation)시킨 새로운 문자열 xy도 VPS 가 된다. 예를 들어 “(())()”와 “((()))” 는 VPS 이지만 “(()(”, “(())()))” , 그리고 “(()” 는 모두 VPS 가 아닌 문자열이다. 

- 여러분은 입력으로 주어진 괄호 문자열이 VPS 인지 아닌지를 판단해서 그 결과를 YES 와 NO 로 나타내어야 한다. 

- 입력: 입력 데이터는 표준 입력을 사용한다. 입력은 T개의 테스트 데이터로 주어진다. 입력의 첫 번째 줄에는 입력 데이터의 수를 나타내는 정수 T가 주어진다. 각 테스트 데이터의 첫째 줄에는 괄호 문자열이 한 줄에 주어진다. 하나의 괄호 문자열의 길이는 2 이상 50 이하이다. 
- 출력: 출력은 표준 출력을 사용한다. 만일 입력 괄호 문자열이 올바른 괄호 문자열(VPS)이면 “YES”, 아니면 “NO”를 한 줄에 하나씩 차례대로 출력해야 한다.

In [37]:
import sys
counts = int(input())

for i in range(counts):
    data = input()

    stack_list = []
    try:
        for i in data:
            if i =='(':
                stack_list.append(i)
            else:
                stack_list.pop(-1)
    except IndexError:
        print('No')
    else:
        if len(stack_list) == 0:
            print('YES')
        else:
            print('NO')

3
((
NO
))
No
())(()
No

# 음계
- 다장조는 c d e f g a b C, 총 8개 음으로 이루어져있다. 이 문제에서 8개 음은 다음과 같이 숫자로 바꾸어 표현한다. c는 1로, d는 2로, ..., C를 8로 바꾼다.

- 1부터 8까지 차례대로 연주한다면 ascending, 8부터 1까지 차례대로 연주한다면 descending, 둘 다 아니라면 mixed 이다.

- 연주한 순서가 주어졌을 때, 이것이 ascending인지, descending인지, 아니면 mixed인지 판별하는 프로그램을 작성하시오.

- 입력 :첫째 줄에 8개 숫자가 주어진다. 이 숫자는 문제 설명에서 설명한 음이며, 1부터 8까지 숫자가 한 번씩 등장한다.
- 출력 :첫째 줄에 ascending, descending, mixed 중 하나를 출력한다.

In [48]:
data = list(map(int, input().split()))

for i in range(len(data)):

    if i == len(data)-1:
        pass
    else:
        print(i)
        if (data[i]-data[i+1]) == -1:
            answer = 'a'
        elif (data[i]-data[i+1]) == 1:
            answer = 'd'
        else:
            answer = 'm'
print(answer)

8 1 7 2 6 3 5 4