백준 알고리즘

# 사칙연산

- 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
- 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
- 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

In [7]:
A, B = map(int, input().split())

print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

7 3

# 나머지
(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)

첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [30]:
# 풀이
A, B, C = map(int, input().split())

print((A+B)%C)

print(((A%C) + (B%C))%C)

print((A*B)%C)

print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

# 곱셈
(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

In [88]:
# 풀이
a= input()
b= input()

for i in reversed(range(len(b))): 
    print(int(a)*int(b[i]))

print(int(a)*int(b))

472
385

# 조건문

알람시계 
상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

바로 "45분 일찍 알람 설정하기"이다.

첫째 줄에 두 정수 H와 M이 주어진다. (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 그리고 이것은 현재 상근이가 설정한 놓은 알람 시간 H시 M분을 의미한다.

입력 시간은 24시간 표현을 사용한다. 24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 시간을 나타낼 때, 불필요한 0은 사용하지 않는다.

첫째 줄에 상근이가 창영이의 방법을 사용할 때, 설정해야 하는 알람 시간을 출력한다. (입력과 같은 형태로 출력하면 된다.)

In [110]:
a, b = map(int, input().split())

if b >=45:
    b -=45
else:
    if a<=0:
        a=24
    a -=1
    b +=60
    b -= 45

print(a, b)

0 30
23 45

# A+B - 4

- 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
- 입력은 여러 개의 테스트 케이스로 이루어져 있다.
- 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)
- 각 테스트 케이스마다 A+B를 출력한다.

In [247]:
data =[]

In [257]:
for i in range(2):
    a, b = map(int, input().split())
    print(a+b)
    data.append(a+b)

"""

for <변수> in 반복 가능한 개체 (list, tuple, dict, str):
    -----
"""
for index in data:
    print(index)

11 11
22
2 1
3
2
4
22
3

In [ ]:
start_data = input()
count = 0
answer = start_data

while True:
    """
    1. 기존의 값 더하기
    2. 기존의 값 끝자리와 더한값의 끝자리를 조합하여 새로운 '숫자'를 조합하기
    3. 새로운 숫자를 만들게 될 때 count 추가
    4. 새로운 숫자가 처음의 값과 같다면 멈추기!
    """

# 더하기 사이클 분류
0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다

In [5]:
data = input()
count = 0
while True:
    if count==0:
        answer = data
    if int(data)<10:
        data = str(0)+data[-1]
    sum_data = int(data[0])+int(data[1])
    data = data[1]+str(sum_data)[-1]
    count+=1
    if int(data) == int(answer):
        break
    data=str(data)
print(count)

1
60

In [ ]:
start_data = input()
count = 0
answer = start_data
while True:
    """
    1. 기존의 값 더하기
    2. 기존의 값 끝자리와 더한값의 끝자리를 조합하여 새로운 '숫자'를 조합하기
    3. 새로운 숫자를 만들게 될 때 count 추가
    4. 새로운 숫자가 처음의 값과 같다면 멈추기!
    """

In [9]:
data = input()
if len(data)==1:
    data = "0"+data
count = 0
answer = data
while True:
    sum_data = int(data[0])+int(data[1])
    new_data = data[-1]+str(sum_data)[-1]
    count+=1
    data= new_data
    if data==answer:
        print(count)
        break

1
60

In [239]:
new_data

'68'

# 상근날드
1. 상근날드에서 가장 잘 팔리는 메뉴는 세트 메뉴이다. 주문할 때, 자신이 원하는 햄버거와 음료를 하나씩 골라, 세트로 구매하면, 가격의 합계에서 50원을 뺀 가격이 세트 메뉴의 가격이 된다.

2. 햄버거는 총 3종류 상덕버거, 중덕버거, 하덕버거가 있고, 음료는 콜라와 사이다 두 종류가 있다.

3. 햄버거와 음료의 가격이 주어졌을 때, 가장 싼 세트 메뉴의 가격을 출력하는 프로그램을 작성하시오.

- 입력은 총 다섯 줄이다. 첫째 줄에는 상덕버거, 둘째 줄에는 중덕버거, 셋째 줄에는 하덕버거의 가격이 주어진다. 넷째 줄에는 콜라의 가격, 다섯째 줄에는 사이다의 가격이 주어진다. 모든 가격은 100원 이상, 2000원 이하이다.
- 첫째 줄에 가장 싼 세트 메뉴의 가격을 출력한다.

In [64]:
count = 0
burger_list = []
juice_list = []
while True:
    data = int(input())
    if data>=100 and data<=2000:
        if count<3:
            burger_list.append(data)
        else:
            juice_list.append(data)
        order_list.append(data)
        count +=1
    else:
        print('값이 올바르지 않습니다.')
    if count == 5:
        break

# cheap_burger = 2000

# for i in order_list[:3]:
#     if cheap_burger >= i:
#         cheap_burger = i

# cheap_juice = 2000
# for i in order_list[3:]:
#     if cheap_juice >= i:
#         cheap_juice = i
burger_list.sort()
juice_list.sort()

print(cheap_burger+cheap_juice-50)

100
200
300
40
값이 올바르지 않습니다.
400
500
[100, 200, 300]
[400, 500]
881

In [66]:
count = 0
burger_list = []
juice_list = []
while True:
    data = int(input())
    if data>=100 and data<=2000:
        if count<3:
            burger_list.append(data)
        else:
            juice_list.append(data)
        order_list.append(data)
        count +=1
    else:
        print('값이 올바르지 않습니다.')
    if count == 5:
        break

burger_list.sort()
juice_list.sort()

print('정답',burger_list[0]+juice_list[0]-50)

700
800
900
100
200
정답 750

In [78]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\ ')
print('|"^"`    |')
print('||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

# 세 수

- 세 정수 A, B, C가 주어진다. 이때, 두 번째로 큰 정수를 출력하는 프로그램을 작성하시오. 

- 첫째 줄에 세 정수 A, B, C가 공백으로 구분되어 주어진다. (1 ≤ A, B, C ≤ 100)

In [84]:
a, b, c = map(int, input().split())

second_data =[]

second_data.append(a)

second_data.append(b)

second_data.append(c)

second_data.sort()

print(second_data[1])

20 30 10

In [96]:
a= list(map(int, input().split()))
a.sort()
print(a[1])

10 20 03
10

# 최소 최대

- N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

- 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.
- 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

In [2]:
count = int(input())
while True:
    data = list(map(int, input().split()))
    if len(data)==count:
        data.sort()
        print(data[0], data[-1])
        break
    else:
        print('올바른 수의 값이 아닙니다.')

5
1 2 3 4 5
1 5

# 별 찍기

- 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

- 첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

In [47]:
# count = int(input())

# for i in range(count):
#     for _ in range(i+1):
#         print('*',end='')
#     print('')

# for i in reversed(range(2)):
#     for _ in range(i+1):
#         print('*',end='')
#     print('')

# count = int(input())
# for i in range(count):
#     print('*'*(i+1))
# for i in reversed(range(count-1)):
#     print('*'*(i+1))
    
count = int(input())
for i in range(1, count*2):
    print(i)
    if i<=2:
        print('*'*i)
    else:
        print('*'*(2*count-i))

3
1
*
2
**
3
***
4
**
5
*

# 별찍기 - 2

```
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********
```
- 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
- 첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.
9
7
5
3
1
3
5
7
9

In [5]:
count = int(input())
limit = count*2-1
test =0
for index in range(0, count):
    if index <count:
        print(' '*index+'*'*(limit-index*2))
for i in reversed(range(0, count)):
    if i ==(count-1):
        continue
    print(' '*i+'*'*(limit-i*2))
    test+=1

10
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

# 별 찍기 - 21

In [6]:
count = int(input())

for i in range(count):
    for j in range(count):
        if j%2==0:
            print('*', end='')
        else:
            print(" ", end='')
    print('')
    for j in range(count):
        if j%2==0:
            print(' ', end='')
        else:
            print("*", end='')

    print('')

4
* *
 * *
* *
 * *
* *
 * *
* *
 * *

# OX퀴즈

"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

- 입력 :첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.

In [ ]:
counts = int(input())

for index in range(counts):
    result = 0
    value = input()
    index = 0
    for i in value:
        if i =='O':
            index+=1
            result+=index
        else:
            index = 0
    print(result)

In [2]:
start_data = input()
count = 0
answer = start_data  # 숫자가 같은 경우마지막 확인하기 위해 
while True:
    if int(start_data) < 10:
        start_data = str(0) + start_data[-1]
    hab1 = int(start_data[0]) + int(start_data[1])
    new_num1 = start_data[1] + str(hab1)[-1]
    count += 1
    if int(new_num1) ==int(answer): 
        break
    else:
        start_data = new_num1
print(count)

1
60

#

In [7]:
count = int(input())

5

In [8]:
limit = count*2-1
# limit = count

In [17]:
limit

9

In [30]:
for index in range(0, count):
    if index <5:
        print(' '*index+'*'*(limit-index*2))
for i in reversed(range(0, count)):
    if i ==4:
        continue
    print(' '*i+'*'*(limit-i*2))
    test+=1

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

# 정수 N개의 합

- 정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.

In [167]:
def solve(a):
    ans = 0
    a = a.split()
    for i in a:
        ans+=int(i)
    return ans

In [168]:
result = solve('1 2 3 4 5 6')

In [169]:
result

21

In [195]:
test_list = []
count = 0

In [188]:
while True:
    data1, data2 = map(int, input().split())
    if 0 > data1 and data2 > 10:
        print('something wrong')
    else:
        sum_data = data1+data2
        test_list.append(sum_data)
        count+=1
        if count==5:
            break

for i in test_list:
    print(i)

1 1
2 3
4 5
6 4
2 1
2
5
9
10
3

In [196]:
while True:
    A, B = map(int, input().split())
    print(A+B)
    count +=1
    if count ==5:
        breakdms
    
    print(count)

1 1
2
1
2 3
5
2
4 5
9
3
9 6
15
4
5 2
7

# 셀프 넘버

셀프 넘버는 1949년 인도 수학자 D.R. Kaprekar가 이름 붙였다. 양의 정수 n에 대해서 d(n)을 n과 n의 각 자리수를 더하는 함수라고 정의하자. 예를 들어, d(75) = 75+7+5 = 87이다.

양의 정수 n이 주어졌을 때, 이 수를 시작해서 n, d(n), d(d(n)), d(d(d(n))), ...과 같은 무한 수열을 만들 수 있다. 

예를 들어, 33으로 시작한다면 다음 수는 33 + 3 + 3 = 39이고, 그 다음 수는 39 + 3 + 9 = 51, 다음 수는 51 + 5 + 1 = 57이다. 이런식으로 다음과 같은 수열을 만들 수 있다.

33, 39, 51, 57, 69, 84, 96, 111, 114, 120, 123, 129, 141, ...

n을 d(n)의 생성자라고 한다. 위의 수열에서 33은 39의 생성자이고, 39는 51의 생성자, 51은 57의 생성자이다. 생성자가 한 개보다 많은 경우도 있다. 예를 들어, 101은 생성자가 2개(91과 100) 있다. 

생성자가 없는 숫자를 셀프 넘버라고 한다. 100보다 작은 셀프 넘버는 총 13개가 있다. 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97

10000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 출력하는 프로그램을 작성하시오.